In [1]:
import pandas as pd #task-1 create a pandas dataframe

In [7]:
df = pd.DataFrame(columns=['feature1', 'feature2', 'feature3', 'feature4', 'feature5'])

for i in range(10):
    df.loc[i] = [f'obs{i}_feat{j}' for j in range(1,6)]

In [8]:
df

     feature1    feature2    feature3    feature4    feature5
0  obs0_feat1  obs0_feat2  obs0_feat3  obs0_feat4  obs0_feat5
1  obs1_feat1  obs1_feat2  obs1_feat3  obs1_feat4  obs1_feat5
2  obs2_feat1  obs2_feat2  obs2_feat3  obs2_feat4  obs2_feat5
3  obs3_feat1  obs3_feat2  obs3_feat3  obs3_feat4  obs3_feat5
4  obs4_feat1  obs4_feat2  obs4_feat3  obs4_feat4  obs4_feat5
5  obs5_feat1  obs5_feat2  obs5_feat3  obs5_feat4  obs5_feat5
6  obs6_feat1  obs6_feat2  obs6_feat3  obs6_feat4  obs6_feat5
7  obs7_feat1  obs7_feat2  obs7_feat3  obs7_feat4  obs7_feat5
8  obs8_feat1  obs8_feat2  obs8_feat3  obs8_feat4  obs8_feat5
9  obs9_feat1  obs9_feat2  obs9_feat3  obs9_feat4  obs9_feat5

In [9]:
df.info() # task -2 checking information of df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   feature1  10 non-null     object
 1   feature2  10 non-null     object
 2   feature3  10 non-null     object
 3   feature4  10 non-null     object
 4   feature5  10 non-null     object
dtypes: object(5)
memory usage: 480.0+ bytes

In [10]:
df.describe() # task -3 checking the descriptive statistics of df

          feature1    feature2    feature3    feature4    feature5
count           10          10          10          10          10
unique          10          10          10          10          10
top     obs0_feat1  obs0_feat2  obs0_feat3  obs0_feat4  obs0_feat5
freq             1           1           1           1           1

In [11]:
df.loc[4] # task -4 checking the 4th index observation with loc slicing operator

feature1    obs4_feat1
feature2    obs4_feat2
feature3    obs4_feat3
feature4    obs4_feat4
feature5    obs4_feat5
Name: 4, dtype: object

In [12]:
df.isnull().any() #task-5 checking null values in df

feature1    False
feature2    False
feature3    False
feature4    False
feature5    False
dtype: bool